<html>
    <head>
        <title>
            Arweb
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </head>
        <style>
        #x {

            border: none;
            color: white;
            padding: 10px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
          }
        </style>
    <body>
        <h2>Press The button</h2>
        <a href="on"><button type="submit" id="x" class="btn btn-info">ON</button></a>
        <a href="off"> <button type="submit" id="x" class="btn btn-info">OFF</button></a>
        <a href="camera"> <button type="submit" id="x" class="btn btn-info">Camera</button></a>
    </body>
</html>